@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@400;600;700&display=swap'); /* we are downloading the Poppins font (normal, semi-bold, bold). */ 

body {
  margin: 0;
  font-family: 'Momo Trust Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header h1 {
  font-weight: 700;      /* super bold title */
  letter-spacing: 0.02em;
}

.App-section h2 {
  font-weight: 600;      /* slightly lighter */
}

p {
  font-weight: 400;      /* normal text */
}

